@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
 margin: 0;
 padding: 0;
 }

body {
    background-image: url('Images/Layer15.jpg');
    background-position: center top;
}

.content {
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
}

#menu {
    margin-top: 15px;
    float: right; 
    display: inline-block;
    font-family: Montserrat;
	font-size: 14px;
    text-align: right;
    text-transform: uppercase;
}

.menudivider {
    text-decoration: none;
    color: #ffffff;
}

.fa-shopping-cart:before {
    content: "\f07a";
    margin-right: -9px;
}

.menudivider:hover {
    border-bottom: 2px solid #fbe389;
    color: #fbe389;
}

#menu a {
    margin-right: 52px;
	text-transform: uppercase;
}

#button {
    float: left;
}

.menuButton {
  font-size: 29px;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  border: none;
  font-family: 'Montserrat';
  font-weight: bold;
}


#label {
  font-size: 30px;
  padding-top: 153px;
  text-align: center;
    text-transform: capitalize;
  font-family: Kaushan Script;
  font-size: 72px;
  color: #ffffff;
  padding-bottom: 24px;
}

#topBar {
    clear: both;
}

#heading {
    font-size: 150px;
    text-align: center;
	font-family: Montserrat;
    font-weight: bold;
    color: #ffffff;
    white-space:pre-line;
    text-transform: uppercase;
    letter-spacing: -4px;
    line-height: 0.94;
}

#hrTopBar {
    width: 59px;
    text-align: center;
    margin: auto;
    border-top: 2px solid #ffffff;
    margin-top: 56px;
    margin-bottom: 45px;
}

#topBarButton {
    background-color: transparent;
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 7px 3px;
    cursor: pointer;
    text-transform: uppercase;
    border: 3px solid;
    border-color: #ffffff;
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: -0.5px;
}


#topBarButtonContent {
    text-align: center;
}

#botombar {
    padding-top: 149px;
}

.divider {
    width: 281px;
    display: inline-block;
    border-top: 3px solid #ffffff;
    border-collapse: separate;
    border-spacing: 15px;
	margin-bottom:5px;
	font-family: Montserrat;
	font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 40px;
    text-decoration: none;
    color: #ffffff;
    margin-right: 21px;
}

.last_divider {
    margin-right: 0px;
}

.divider:hover {
    color: #f38181;
    border-top: 2px solid #f38181;
}









